/* 기본 세팅 */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
a,
button,
img,
ol,
ul,
li,
form,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
output,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
input,
select,
textarea,
button {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
.home-page {
  overflow: hidden;
}
/* 화면크기 설정 */
/* header */
.fas {
  font-size: 24px;
}
#header {
  padding: 20px 24px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.flex {
  display: flex;
  align-items: flex-start;
}
#logo {
  /* 반응형으로 마진값 조절돰 */
  margin-left: 100px;
}
#right-header {
  font-size: 12px;
  font-weight: 300;
  width: 300px;
  justify-content: space-between;
  margin-left: 19px;
  padding-top: 8px;
}
.search {
  width: 60px;
  border-bottom: 1px solid black;
}

/* 1번 woman 슬라이드*/
#slider {
  height: 100vh;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
}
.slider-content-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  /*슬라이드 모션 대체 */
  /* opacity: 0%; */
}
#slider-nav-container {
  right: 48px;
  top: 700px;
  z-index: 2;
}
.slider-nav {
  margin-bottom: 16px;
  text-align: right;
}
.slider-nav-selected {
  font-weight: 500;
}
button,
a {
  cursor: pointer;
}
.selected-image {
  position: absolute;
  top: 0;

  /*슬라이드 모션 대체 */
  /* opacity: 100; */
  /* 전이가 일어날 속성값을 정의 */
  /* transition-property: opacity; */
  /* 전이가 발생되는 시간 명시 */
  /* transition-duration: 2s; 
  transition-timing-function: ease-in;
  transition-delay: 0.5s; */
}
.slider-content {
  width: 100vw;
  height: 100vh;
}

/* 히든메뉴 */
#hidden-menu {
  /* display: none; */
  width: 459px;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 20;
  padding: 12px 0 32px 0;
}
#menu-fixed-top {
  width: 100%;
  height: 125px;
  background-color: thistle;
}
